<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="container">
        <h1>PRODUCT CATALOG</h1>
        <hr size="3">
        <center>
            <table>
                <thead>
                    <tr id="table-head">
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product=> {%> <!--ejs javascript within html-->
                    <tr>
                        <td><img src="<%=product.imageUrl%>"></td>
                        <td><%=product.name%></td>
                        <td><%=product.price%></td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </center>
        
    </div>  
</body>
</html>